[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/bilberry"]
	path = themes/bilberry
	url = https://github.com/Lednerb/bilberry-hugo-theme.git
